/* grid setup */
.grid {
  background-color: #c39c68;
  color: black;
  display: grid;
  gap: 0.5em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto-fill, auto);
  align-items: center;
  justify-items: center;
  padding: 2em 0.5em;
}

/* elements */
.bio {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  padding: 1em;
  width: 65ch;
}

.title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.quote {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 2em;
  width: 50ch;
}

/* *** *** *** *** *** *** MEDIA QUERIES *** *** *** *** *** *** */
/* small computer */
@media screen and (min-width: 1024px) and (max-width: 1500px) {
  .quote {
    padding: 0.5em;
    width: 35ch;
  }

  .bio {
    padding: 2em 2em 2em 1em;
    width: auto;
  }
}

/* tablet size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    gap: 0.2em;
  }

  .quote {
    padding: 0.5em;
    width: 23ch;
  }

  .bio {
    padding: 1em 1em 1em 0.5em;
    width: auto;
  }
}

/* phone size */
@media screen and (max-width: 767px) {
  .grid {
    grid-template-columns: 100%;
    gap: 0.2em;
  }

  .quote {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 1em;
    width: 100%;
  }

  .bio {
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 0.5em;
    width: auto;
  }
}
