/* ------------------------------ SOCIAL ICONS ------------------------------ */
.socialicons {
  list-style-type: none;
  padding: 0 0 0 1%;
  margin: 0;
  z-index: 1000;
}

.socialbaricon {
  color: var(--clr-light);
  font-size: 3rem;
}

.socialbaricon:hover {
  color: var(--clr-neutral);
}

/* ------ MEDIA QUERIES ------ */
/* phone size */
@media screen and (max-width: 767px) {
  .iconsection {
    width: 100%;
  }

  .socialicons li {
    display: inline-block;
    margin: 0 1em;
  }

  .socialbaricon {
    font-size: 2.25rem;
  }

  .socialicons {
    margin-top: 1.5em;
  }
}
