/* ------------------------------ NAVBAR ------------------------------ */
.navgrid {
  align-items: center;
  background-color: #f1f0e5;
  display: grid;
  grid-template-columns: 1.75fr repeat(5, 1fr);
  grid-template-rows: 4em;
  height: 100vh;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  transform: scale(-1);
  width: 4em;
  writing-mode: vertical-rl;
  z-index: 999;
  border-left: 1px solid #1e1e1d;
}

.navdiv {
  align-items: center;
  display: grid;
  position: relative;
  width: 100%;
  vertical-align: middle;
}

.navdiv:hover {
  background-color: #1e1e1d;
}

.navdiv:hover > .navgriditem {
  color: #90a955;
}

.navdivborder {
  border-bottom: 1px solid #1e1e1d;
}

.navgriditem {
  color: #1e1e1d;
  height: 100%;
  padding: 0;
  margin: 0;
}

/**** MEDIA QUERIES ****/
/* phone size */
@media screen and (max-width: 767px) {
  .navgrid {
    grid-template-rows: 2.2em;
    width: 2.2em;
  }
}