.grid {
  display: grid;
  place-items: center;
  gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
  grid-template-rows: repeat(auto-fit, 1fr);
}

.video {
  height: 100%;
  width: 100%;
  border-radius: 1em;
}

.videoContainer {
  aspect-ratio: 4 / 3;
  width: 20em;
}

/* *** *** *** *** *** *** MEDIA QUERIES *** *** *** *** *** *** */
/* tablet size */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid {
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  }

  .videoContainer {
    width: 17em;
  }
}

/* phone size */
@media screen and (max-width: 767px) {
  .grid {
    gap: 0.5em;
    grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  }

  .videoContainer {
    width: 17em;
  }
}
