.overlay {
  position: absolute;
  left: 0;
  justify-content: center;
  top: 0;
  width: 100%;
  padding: 3% 10%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: auto */
  gap: 30px;
  width: 100%;
  height: 100%;
}

/* Sections */
.videos {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.quotes {
  background-color: #c39c688e;
  border-radius: 12px;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.spotify {
  border: 0px;
  border-radius: 12px;
  width: 100%;
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.photos {
  grid-column: 1 / 3;
  grid-row: 4 / 5;
}

.contact {
  grid-column: 1 / 3;
  grid-row: 5 / 6;
}

/* COMPONENTS */

.video {
  aspect-ratio: 16/9;
  width: 100%;
  border-radius: 1em;
}

.photo {
  height: 20em
}

.link {
  color: #fffef4;
}

/* *** *** *** *** *** *** MEDIA QUERIES *** *** *** *** *** *** */
/* small computer */
@media screen and (max-width: 1500px) {
  .overlay {
    padding: 1% 8%;
  }
  
  .videos {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .quotes {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  
  .spotify {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
  
  .photos {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  
  .contact {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .photo {
    height: 15em;
  }
}

/* smaller */
@media screen and (max-width: 1250px) {
  .videos {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .quotes {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  
  .spotify {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .photos {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  
  .contact {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .photo {
    height: 15em;
  }

}

/* tablet size */
@media screen and (max-width: 1050px) {
  .overlay {
    padding: 7% 10%;
  }

  .videos {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  .quotes {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }
  
  .spotify {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .photos {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
  }
  
  .contact {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }

  .photo {
    height: 12em;
  }
}

/* phone size */
@media screen and (max-width: 800px) {
  .overlay {
    padding: 9% 10%;
  }

  .container {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .videos {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  
  .quotes {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  
  .spotify {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }
  
  .photos {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  
  .contact {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
  }

  .photo {
    height: 8em;
  }
}